.gitignore
.git
.php_cs.cache
.credentials
.credentials*
.vscode/
vendor/
scripts/
composer.lock
env.*
phinx.*
descartes/env.php

data/test_write_sms.json
data/test_read_sms.json
data/public/

!*.dist
