<?php
	/*
        This file define constants and options for the app
	*/

    $env = [
        'ENV' => '%APP_ENV%', #env name (probably 'dev' or 'prod'), this value is used to get the env.XXX.php.dist matching env file
        'SESSION_NAME' => 'raspisms',

        //RaspiSMS settings
        'WEBSITE_TITLE' => 'RaspiSMS',
        'WEBSITE_DESCRIPTION' => '',
        'WEBSITE_AUTHOR' => 'Raspberry Pi FR',
        'PWD_SCRIPTS' => PWD . '/scripts',
        'PWD_RECEIVEDS' => PWD . '/receiveds',
        'HTTP_PWD_SOUND' => HTTP_PWD_ASSETS . '/sounds',
        'PWD_ADAPTERS' => PWD . '/adapters',
        'PWD_DATA' => PWD . '/data',
        'HTTP_PWD_DATA' => HTTP_PWD . '/data',
        'PWD_DATA_PUBLIC' => PWD . '/data/public',
        'HTTP_PWD_DATA_PUBLIC' => HTTP_PWD . '/data/public',
        'PWD_LOGS' => '/var/log/raspisms',
        'PWD_PID' => '/var/run/raspisms',
        'APP_SECRET' => '%APP_SECRET%',
        'ENABLE_COMMAND' => false,
        'ENABLE_ACCOUNT_DELETION' => true,

        //E-mail types
        'EMAIL_RESET_PASSWORD' => [
            'type' => 'email_reset_password',
            'subject' => 'Réinitialisation de votre mot de passe',
            'template' => 'email/reset-password',  
        ],
        'EMAIL_CREATE_USER' => [
            'type' => 'email_create_user',
            'subject' => 'Création de votre compte RaspiSMS',
            'template' => 'email/create-user',  
        ],
        'EMAIL_TRANSFER_SMS' => [
            'type' => 'email_transfer_sms',
            'subject' => 'Vous avez reçu un SMS',
            'template' => 'email/transfer-sms',  
        ],
        'EMAIL_QUOTA_LIMIT_CLOSE' => [
            'type' => 'email_quota_limit_close',
            'subject' => 'Vous avez presque atteint votre limite de SMS',
            'template' => 'email/quota-limit-close',  
        ],
        'EMAIL_QUOTA_LIMIT_REACHED' => [
            'type' => 'email_quota_limit_reached',
            'subject' => 'Vous avez atteint votre limite de SMS',
            'template' => 'email/quota-limit-reached',  
        ],

        //Phone messages types
        'QUEUE_ID_PHONE' => ftok(__FILE__, 'p'),
        'QUEUE_TYPE_SEND_MSG_PREFIX' => 100, 

        //Queues ids
        'QUEUE_ID_WEBHOOK' => ftok(__FILE__, 'w'),
        'QUEUE_TYPE_WEBHOOK' => 100,
        
        //Queue email
        'QUEUE_ID_EMAIL' => ftok(__FILE__, 'e'),
        'QUEUE_TYPE_EMAIL' => 100,

        //User default settings
        'USER_DEFAULT_SETTINGS' => [
            'detect_url' => 1,
            'sms_reception_sound' => 1,
            'transfer' => 0,
            'smsstop' => 1,
            'sms_flash' => 0,
            'templating' => 1,
            'display_help' => 1,
            'conditional_group' => 1,
            'webhook' => 1,
            'preferred_phone_country' => 'fr,be,ca',
            'default_phone_country' => 'fr',
            'authorized_phone_country' => 'fr,be,ca',
            'mms' => 1,
            'alert_quota_limit_reached' => 1,
            'alert_quota_limit_close' => 0.9,
            'hide_menus' => '',
            'force_gsm_alphabet' => 0,
            'phone_limit' => 0,
            'phone_priority' => 0,
        ],
	];

