<?php
    $env = [
        //Database access
        'DATABASE_HOST' => '%APP_DATABASE_HOST%',
        'DATABASE_NAME' => '%APP_DATABASE_NAME%',
        'DATABASE_USER' => '%APP_DATABASE_USER%',
        'DATABASE_PASSWORD' => '%APP_DATABASE_PASS%',

    ];
