<?php
    $env = [
        //Public static URL
        'STATIC_HTTP_URL' => '%APP_STATIC_HTTP_URL%',

        //Database access
        'DATABASE_HOST' => '%APP_DATABASE_HOST%',
        'DATABASE_NAME' => '%APP_DATABASE_NAME%',
        'DATABASE_USER' => '%APP_DATABASE_USER%',
        'DATABASE_PASSWORD' => '%APP_DATABASE_PASS%',
        
        //Mailer SMTP credentials
        'MAIL' => [
            'SMTP' => [
                'USER' => '%APP_MAIL_SMTP_USER%',
                'PASS' => '%APP_MAIL_SMTP_PASS%',
                'HOST' => '%APP_MAIL_SMTP_HOST%',
                'TLS'  => '%APP_MAIL_SMTP_TLS%' ,
                'PORT' => '%APP_MAIL_SMTP_PORT%',
            ],
            'FROM' => '%APP_MAIL_FROM%',
        ],

        //YOURLS url shortener settings
        'URL_SHORTENER' => [
            'HOST' => '%APP_URL_SHORTENER_HOST%',
            'USER' => '%APP_URL_SHORTENER_USER%',
            'PASS' => '%APP_URL_SHORTENER_PASS%',
        ],

        // Define if we should use a Redis instance instead of System V Queues
        'USE_REDIS_QUEUES' => false,
        'REDIS_HOST' => '%APP_REDIS_HOST%',
        'REDIS_PORT' => '%APP_REDIS_PORT%',
        'REDIS_PASSWORD' => '%APP_REDIS_PASSWORD%',
    ];
